%if 0
/* Pocket
 * id: isreaditlater@ideashower.com
 * URL: https://addons.mozilla.org/en-US/firefox/addon/read-it-later/ */
%endif

/* Toolbar button */

#nav-bar #pocket-button > .toolbarbutton-icon {
	padding: 0 !important;
}

#pocket-button,
#pocket-button[cui-areatype="toolbar"]
#pocket-button[cui-areatype="toolbar"][open] {
  list-style-image: none !important;
  -moz-image-region: auto !important;
}

#pocket-button[cui-areatype="toolbar"] > .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket.svg) !important;
}

#pocket-button[cui-areatype="toolbar"][open] > .toolbarbutton-icon {
  list-style-image: url(chrome://symbolic-icons/skin/extensions/pocket-added.svg) !important;
}
