/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#warningScreen {
  font: 11pt cantarell;
  background-color: #f6f6f4;
  background-image: linear-gradient(to bottom, #eeeeec, #f6f6f4);
  background-size: 100% 5em;
  background-repeat: no-repeat;
  color: ButtonText;
}

.title {
  background-image: none;
}

#warningTitle {
  font-size: .80em;
  font-weight: bolder;
  line-height: 1.2;
  color: #babdb6;
  margin: 0;
  margin-bottom: .5em;
}

#warningText {
  margin: 1em 0;
}

#warningButton {
  margin-top: 0.6em;
}

#filterRow {
  margin-top: 4px;
  margin-inline-start: 4px;
}

#showWarningNextTime {
  margin-top: 0.6em;
  color: grey;
}

#configTree {
  margin-top: 4px;
  margin-bottom: 4px;
}

#configTreeBody::-moz-tree-cell-text(user) {
  font-weight: bold;
}

#configTreeBody::-moz-tree-cell-text(locked) {
  font-style: italic;
}
