/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://browser/skin/error-pages.css");

body {
  background-image: linear-gradient(to bottom, #eeeeec, #f6f6f4);
  background-color: #f6f6f4;
}

#errorPageContainer {
  background-repeat: no-repeat;
  background-position: -14px 25px;
}

#errorPageContainer:dir(rtl) {
  background-position: right -14px top 25px;
}

body.certerror #errorPageContainer {
  background-image: url(chrome://browser/skin/about-pages/connection-untrusted.svg);
}

.title {
  margin-inline-start: 175px;
  padding-inline-start: 0px;
  background-image: none;
  text-shadow: none;
}

body.certerror .title {
  color: #f59506;
}

.title-text {
  border-bottom: 1px solid var(--in-content-header-border-color);
  font-size: .75em;
}

#errorContainer {
  display: none;
}

#errorLongContent {
  margin-inline-start: 175px;
}

.hostname {
  font-weight: bold;
}

/* Pressing the retry button will cause the cursor to flicker from a pointer to
 * not-allowed. Override the disabled cursor behaviour since we will never show
 * the button disabled as the initial state. */
button:disabled {
  cursor: pointer;
}

#prefChangeContainer {
  display: none;
}

#learnMoreContainer {
  display: none;
}

#certErrorButtonContainer {
  display: none;
}

body.certerror #certErrorButtonContainer {
  display: flex;
}

body.certerror #netErrorButtonContainer {
  display: none;
}

#errorTryAgain {
  margin-top: 1.2em;
  min-width: 150px;
  margin-inline-start: 174px;
}

#returnButton {
  min-width: 250px;
}

#advancedButton {
  display: none;
}

body.certerror #advancedButton {
  display: block;
}

#certificateErrorReporting {
  display: none;
}

.container {
  position: relative;
}

#advancedPanelContainer {
  position: absolute;
  padding: 24px 0;
  width: 100%;
}

.advanced-panel {
  /* Hidden until the link is clicked */
  display: none;
  background-color: white;
  border: 1px lightgray solid;
  /* Don't use top padding because the default p style has top padding, and it
   * makes the overall div look uneven */
  padding: 0 12px 12px 12px;
  box-shadow: 0 0 4px #ddd;
  font-size: 0.9em;
}

#overrideWeakCryptoPanel {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 1em;
}

span#hostname {
  font-weight: bold;
}

#automaticallyReportInFuture {
  cursor: pointer;
}

#errorCode:not([href]) {
  color: var(--in-content-page-color);
  cursor: text;
  text-decoration: none;
}

#errorCode[href] {
  white-space: nowrap;
}

#badCertTechnicalInfo {
  overflow: auto;
  white-space: pre-wrap;
}

#certificateErrorReporting {
  display: none;
}

#certificateErrorDebugInformation {
  display: none;
  background-color: var(--in-content-box-background-hover) !important;
  border-top: 1px solid var(--in-content-border-color);
  position: absolute;
  left: 0%;
  top: 100%;
  width: 65%;
  padding: 1em 17.5%;
}

#certificateErrorText {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 1em 0;
}

/* ::::: File not found, <...> pages ::::: */

@-moz-document url-prefix("about:neterror?e=connectionFailure"),
               url-prefix("about:neterror?e=contentEncodingError"),
               url-prefix("about:neterror?e=corruptedContentError"),
               url-prefix("about:neterror?e=cspFrameAncestorBlocked"),
               url-prefix("about:neterror?e=deniedPortAccess"),
               url-prefix("about:neterror?e=dnsNotFound"),
               url-prefix("about:neterror?e=fileNotFound"),
               url-prefix("about:neterror?e=generic"),
               url-prefix("about:neterror?e=malformedURI"),
               url-prefix("about:neterror?e=netInterrupt"),
               url-prefix("about:neterror?e=netReset"),
               url-prefix("about:neterror?e=netTimeout"),
               url-prefix("about:neterror?e=notCached"),
               url-prefix("about:neterror?e=nssBadCert"),
               url-prefix("about:neterror?e=nssFailure2"),
               url-prefix("about:neterror?e=unknownProtocolFound"),
               url-prefix("about:neterror?e=proxyConnectFailure"),
               url-prefix("about:neterror?e=proxyResolveFailure"),
               url-prefix("about:neterror?e=redirectLoop"),
               url-prefix("about:neterror?e=remoteXUL"),
               url-prefix("about:neterror?e=unknownSocketType"),
               url-prefix("about:neterror?e=unsafeContentType") {

  #errorPageContainer {
    background-image: url(chrome://browser/skin/about-pages/file-not-found.svg);
  }

  .title {
    color: #3c3591;
  }

}

@-moz-document url-prefix("about:neterror?e=remoteXUL") {

  #errorPageContainer {
    background-position: -14px 0px;
  }

}

/* ::::: Offline Mode ::::: */

@-moz-document url-prefix("about:neterror?e=netOffline") {

  #errorPageContainer {
    background-image: url(chrome://browser/skin/about-pages/offline-mode.svg);
  }

  .title {
    color: #646f6c;
  }

}
